// Variables
// --------------------------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


$theme-primary:#0638BE;
$theme-blue-light: #3BDFFD;
$theme-blue : #0FACD8;
$white: #ffffff;

$light-blue: #CBE6F2;
$light-success: #CBF2D6;
$light-warning: #F1F2CB;
$light-danger: #F2D9CB;

$danger-dark : #ED1111;
$danger:#F4083E;
$danger-light:#FC3434;
$blue : #0638BE;
$blue-light : #0B26F4;
$warning-light: #EABE06;
$warning: #EA8F12;
$warning-dark : #966507;
$light-gray : #FCFCFC;
$light-gray1 : #E4E4E4;
$success : #095A28;
$success-dark : #095A28;
$success-light: #0D5A13;
$brown: #271104;
$brown-light: #31190c;

$black: #090A0A;
$black1: #0D0B0B;
$light-dark: #707070;

$scroll-track : #e0e6f0;
$scroll-thumb: #b4bbcb;
$dark-light: #F6F7FB;
$font-primary: 'Inter', sans-serif;

$fw700 : 700;
$fw600 : 600;
$fw500 : 500;
$fw400 : 400;


